<h1>Create a new Article</h1>

<% if @article.errors.any? %>
  <h3>This erros ocurred:</h3>
  <ul>
  <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
<% end %>
</ul>

<%= form_with scope: :article, url: articles_path, local: true, data: { turbo: false } do |f| %>

  <p>

    <%= f.label :title %> <br />
    <%= f.text_field :title %><br />

  </p>

  <p>

    <%= f.label :description %> <br />
    <%= f.textarea :description %>

  </p>

  <p>

    <%= f.submit %>

  </p>

<% end %> 